[files]
BASE_DIR = /Users/pablomartin/python/Mushroom_Classifier
DATA_DIR = flat_images
DISCARDED_DATA_DIR = side_flat_images
BOTTLENECK_DIR = bottleneck_dir
SUMMARY_DIR = tensorboard_summaries


[model]
module_spec = 'https://tfhub.dev/google/imagenet/inception_v3/feature_vector/1'
shared_layer_size = 1000
genus_count = 800
species_count = 1890
quantize_layer = 0
is_training = 0
learning_rate =  0.01
top_k = 1

[data]
training_percentage = 10
validation_percentage = 10
MIN_IMAGES_PER_CLASS = 50
LONG_TAIL_CUTOFF = 200

[training]
batch_size = 100
prefetch_batch_buffer = 50
balanced = 0
TRAINING_STEPS = 1400
INTERMEDIATE_FREQ = 700
